<div class="container angular" ng-controller="contactsCtl">
    <div class="row">
        <div class="page-header">
            <h2>Контакты</h2>
        </div>
    </div>
    <div class="row" ng-controller="contactFormCtrl">
        <div class="col-md-12 alert alert-success" ng-show="mailForm.response">{{ mailForm.response }}</div>
        <div class="col-md-12 alert alert-danger" ng-show="mailForm.error">{{ mailForm.error }}</div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Форма обратной связи</strong>
                </div>
                <div class="panel-body" style="margin: 0px 15px 1px 15px;">
                    <form role="form" class="form-horizontal" name="mailForm" ng-submit="sendMail()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user text-primary"></span></span>
                                        <input type="text" class="form-control" placeholder="Ваше имя" ng-model="mailForm.fio" ng-disabled="mailForm.isSent">
                                    </div>
                                </div>
                                <div class="form-group" ng-class="emailValidation()">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="text-primary"><strong>@</strong></span></span>
                                        <input type="email" class="form-control" name="email" placeholder="E-mail" ng-model="mailForm.email" ng-disabled="mailForm.isSent" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt text-primary"></span></span>
                                        <input type="tel" class="form-control" placeholder="Телефон" ng-model="mailForm.phone" ng-disabled="mailForm.isSent">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-offset-1">
                                <div class="form-group">
                                    <textarea class="form-control" rows="6" placeholder="Текст сообщения" ng-model="mailForm.text" ng-disabled="mailForm.isSent"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-default" ng-disabled="mailForm.$invalid || mailForm.isSent">Отправить</button>
                                <button type="button" class="btn btn-default" ng-show="mailForm.isSent" ng-click="nextMessage()">Написать ещё</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Склад</strong>
                </div>
                <div class="panel-body" style="margin: 0px 15px 0px 15px;">
                    <address>
                        <strong>Адрес</strong><br>
                        122371, Москва, Огородный проезд 9<br>
                    </address>
                    <address>
                        <strong>Телефон</strong><br>
                        {{ phone }}
                    </address>
                    <address>
                        <strong>E-mail</strong><br>
                        <a href="mailto:{{ email }}">{{ email }}</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" ng-controller="shopsContactsCtrl">
        <div ng-repeat="(uuid, shop) in shops track by $id($index) | orderObjectBy:'sort'" class="col-md-4 col-sm-11 col-xs-11">
            <h4>ТЦ "{{ shop.mall.name }}"</h4>
            <address>
                {{ shop.mall.address }}<br>
                <a href="http://{{ shop.mall.site }}">{{ shop.mall.site }}</a>
            </address>
            <p>
                <a href="/shops.html#?shopUUID={{uuid}}" class="btn btn-primary" type="button">подробнее</span></a>
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <a href="http://art-elite.ru"><img class="art-elite" src="img/logo_art_elite.png" alt="art-elite.ru"/></a>
        </div>
        <div class="col-md-6">
            <h4><a href="http://art-elite.ru">Интернет магазин - "Раскраски по номерам"</a></h4>
            <dl class="dl-horizontal">
                <dt>Адрес: </dt>
                <dd><a href="http://art-elite.ru">art-elite.ru</a></dd>
                <dt>Телефон: </dt>
                <dd>+7 (495) 641-67-49</dd>
            </dl>
        </div>
        <div class="col-md-2">
            <a href="http://www.youtube.com/user/ArtEliteRu"><img src="img/youtube.jpeg" alt="youtube" width="50px" height="50px"/></a>
            <a   href="http://vk.com/art_elite"><img src="img/vk2.jpeg" alt="vkontakte" width="50px" height="50px"/></a>
        </div>
    </div>
    <hr>
    <div class="row">
       <div class="col-md-12">
           <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=X-OeSAz2_ApscIM2mVrX4HG5g7kY36Wl&height=300"></script>
        </div>
    </div>
</div>