<div class="container angular" ng-controller="shopsCtrl">
    <div class="row">&nbsp;
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-justified">
                <li><h2>Магазины:&nbsp;&nbsp;&nbsp;</h2></li>
                <li ng-repeat="(uuid, shop) in shops" ng-class="{active: currentShop.id == shop.id}"><a href="#" ng-click="$parent.currentShop = shop; $parent.currentShopUUID = uuid">ТЦ {{shop.mall.name}}</a></li>
            </ul>
        </div>
    </div>
    <div class="row" ng-show="currentShop">
        <div class="col-md-12">
            <h4>Торговый центр "{{currentShop.mall.name}}" <small>{{currentShop.mall.city}}</small></h4>
        </div>
    </div>
    <div class="row" ng-show="currentShop">
        <div class="col-md-4">
            <img src="../img/{{currentShop.id}}.jpg" class="thumbnail" width="270px">
        </div>
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt></dt>
                <dd><strong>Торговый центр "{{currentShop.mall.name}}"</strong></dd>
                <dt>Адрес:</dt>
                <dd>{{currentShop.mall.address}}</dd>
                <dt>Сайт:</dt>
                <dd><a href="{{currentShop.mall.site}}">{{currentShop.mall.site}}</a></dd>
                <dt>Общая площадь:</dt>
                <dd>{{currentShop.mall.area}} кв.м</dd>
                <dt>Парковка:</dt>
                <dd>{{currentShop.mall.parking}} машиномест</dd>
                <dd><br><strong>Торговая точка "Цветной"</strong></dd>
                <dt>Площадь:</dt>
                <dd>{{currentShop.shop.area}} кв.м</dd>
                <dt>Дата открытия:</dt>
                <dd>{{currentShop.shop.openDate}}</dd>
                <dt>Местоположение:</dt>
                <dd>{{currentShop.shop.location}}</dd>
            </dl>
        </div>
    </div>
    <div class="row" ng-show="currentShop">
        <div class="col-md-12">
            <h4>Продажи на {{ lastCheckDemandTime | date:'dd.MM.yyyy' }}<small> {{ lastCheckDemandTime | date:'HH:mm' }}</small></h4>
        </div>
    </div>
    <div ng-show="currentShop" ng-repeat="demand in retailDemands.demand | demandFilter:currentShopUUID | toArray | orderBy:'created'" class="row table-row">
        <div class="col-md-1">{{ demand.created | date:'HH:mm'}}</div>
        <div class="col-md-9">
            <div ng-repeat="shipment in demand.shipmentOut" class="row">
                <div class="col-md-1 col-xs-2"><img ng-src="{{'http://art-elite.ru/upload/moy_sklad_photo/' + goods.good[shipment.goodUuid].productCode + '.jpg' | lowercase}}" alt="{{ goods.good[shipment.goodUuid].productCode }}" width="40px" height="40px" class="icon"></div>
                <div class="col-md-1 col-xs-3 text-right">{{goods.good[shipment.goodUuid].productCode}}</div>
                <div class="col-md-1 col-xs-3 text-right">{{shipment.quantity | number:0}}шт.</div>
                <!--div class="col-md-1 col-xs-3 text-right" ng-show="shipment.discount > 0">&nbsp;</div-->
                <div class="col-md-2 col-xs-3 text-right">{{((shipment.basePrice / 100) | currency:'') + 'р.'}}</div>
                <div class="col-md-1 col-xs-3 text-right text-danger" ng-show="shipment.discount > 0" >-{{shipment.discount | number:0}}%</div>
                <div class="col-md-2 col-xs-3 text-right" ng-show="shipment.discount > 0" >{{((shipment.price / 100) | currency:'') + 'р.'}}</div>
                <!--div class="col-md-1 col-xs-3"><img ng-src="{{'http://art-elite.ru/upload/moy_sklad_photo/' + good.productCode + '.jpg' | lowercase}}" alt="{{ good.productCode }}" width="40px" height="40px" class="icon"></div>
                <div class="col-md-7 col-xs-6">{{good.name}}<br>{{ getProperty(good, "Размер") }}</div>
                <div class="col-md-3 col-xs-3 text-right"><small class="text-muted">{{((good.salePrice / 100) | currency:'') + 'р.'}}</small><br>{{((good.salePrice / 100) * ((100 - discont)/100) | currency:'') + 'р.'}}</div-->
            </div>
        </div>
        <div class="col-md-2">{{shops[demand.sourceStoreUuid].mall.name}}</div>
        <div class="col-md-2 text-right"><strong>{{((demand.sum / 100) | currency:'') + 'р.'}}</strong></div>
        <!--div id="{{ good.productCode }}" class="row table-row"   ng-click="$parent.preview = good.productCode" ng-hide="$parent.preview == good.productCode">
            <div class="col-md-1">{{good.productCode}}</div>
            <div class="col-md-1 col-xs-3"><img ng-src="{{'http://art-elite.ru/upload/moy_sklad_photo/' + good.productCode + '.jpg' | lowercase}}" alt="{{ good.productCode }}" width="40px" height="40px" class="icon"></div>
            <div class="col-md-7 col-xs-6">{{good.name}}<br>{{ getProperty(good, "Размер") }}</div>
            <div class="col-md-3 col-xs-3 text-right"><small class="text-muted">{{((good.salePrice / 100) | currency:'') + 'р.'}}</small><br>{{((good.salePrice / 100) * ((100 - discont)/100) | currency:'') + 'р.'}}</div>
        </div-->
    </div>
</div>